<main class="sl-head">
  <div class="container, sl-index-bg" style="height:600px;" >
    <h1>
      <span class="sl-icon">
        <%= link_to products_path do %>
          <div class="sl-tw pull-left">
            鑫林日用品
          </div>
          <div class="sl-en pull-left">
            Shin Lin
          </div>
        <% end %>
      </span>
    </h1>
  </div>
</main>
<div class="sl-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 sl-dashboard">
        <%= image_tag('sl_product.jpg') %>
        <div class="index-product sl-content-block">
          <div class="row">
            <% @products.each do |product| %>
              <div class="col-sm-6 col-md-4">
                <%= link_to product_path(product) do %>
                  <% product.photos.limit(1).each do |image| %>
                    <%= image_tag(image.image.thumb, class:"product-thumbnail") %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <%= link_to products_path do %>
          <div class="more-product">
            查看更多產品
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 sl-dashboard">
        <%= image_tag('sl_logo.jpg') %>
        <div class="sl-content-block">
          <ul>主要供應產品
            <li>窗簾桿</li>
            <li>浴簾桿</li>
            <li>浴簾掛勾</li>
            <li>花架</li>
            <li>DIY 置物架</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 sl-dashboard">
        <%= image_tag('sl_contact.jpg') %>
        <div class="sl-content-block">
          <ul>歡迎聯繫我们
            <li>業 務 經 理  :  刘晓涵</li>
            <li>電 話   :  769-87735660</li>
            <li>傳 真   :  769-87735880</li>
            <li>郵 箱   :  sunjust02@163.com</li>
            <li>中國.廣東省東莞市清溪鎮</li>
            <li>三中金龍工業區蓮塘路6號</li>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sl-about">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2>
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          關於鑫林 
        </h2>
        <article>鑫林日用品有限公司是臺灣伸適企業有限公司於中國的延伸企業,臺灣成立於1988年,,專門OEM生產世界知名品牌的浴簾杆,窗簾杆,門簾杆,花架,DIY傢俱及各類的伸縮杆類的產品,自行開發的產品也多成為市場上的主流,隨著公司不斷壯大及中國國內經濟快速成長,于2008年成立了鑫林日用品有限公司,占地面積11000平方米,三座車間,位處東莞市清溪鎮,臨近高速公路及鐵路,是生產五金廠品的重鎮,有得天獨厚的取材優勢。
        </article>
        <h2>
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          加工能力
        </h2>
        <article>鑫林擁有三個車間,分別為五金加工部,烤漆加工部,包裝部,承接各種業務加工,並有強大的開發及生產能力,在窗簾杆,浴簾杆的日生產量可達六千套,烤漆加工產量一天更可達兩萬套，廠房有完整生產設備,如切管機,拋光機,磨管機,鉚釘機,彎管機,縮管機,衝床,滾拋機,送料機,卷料機......等精密機械,用於製造產品,以達到更高的生產效率,也備有多種品質測量儀器,如硬度測試計,鹽霧測試機,膜厚測試器,重量測試…等,來為品質做重重把關。
        </article>
        <h2>
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          質量承諾
        </h2>
        <article>在董事長劉建聲先生的帶領下,將過去20多年生產的經驗及最優質的外銷產品引進了國內市場,讓國內消費者能以最經濟的消費就能享有與國際同步的高品質,高格調產品,多項專利產品加上多樣化的表面處理及強大的配件供應鏈,秉承著“客戶至上，品質為先，服務第一”的原則，我們竭誠為廣大新老客戶提供“充足的貨源、優良的品質以及完善的服務”。
        </article>
        <h2>
          <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
          最新消息：<%= @post.title %>
        </h2>
        <artircle>
          <%= @post.content %>
        </article>


      </div>
    </div>
  </div> 
</div>
