<div class="col-sm-5 col-md-5 col-sm-offset-1" >
  <div class="row">
    <div class="col-sm-3">
      <h4 class="pull-right">產品資料</h4>
    </div>
  </div>
  <%= form_for [:dashboard, :sunjust, @product], html: { multipart: true, class:"form-horizontal"} do |f| %>
    <div class="form-group">
      <%= f.label :name, '品名', class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :name, class:"form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :en_name, '英文', class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :en_name, class:"form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :texture, '材質', class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :texture, class:"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :diameter, '管徑', class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :diameter, class:"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :size, '尺寸', class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :size, class:"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :surface, '表面', class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :surface, class:"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :photo, '照片', class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= file_field_tag "images[]", type: :file, multiple: true, class:"form-control" %>
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit  class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>
