<div class="col-sm-5 col-md-5 col-sm-offset-1" >
  <div class="row">
    <div class="col-sm-3">
      <h4 class="pull-right">產品資料</h4>
    </div>
  </div>
  <%= simple_form_for [:dashboard, :sunjust, @product], html: {multipart: true }, wrapper: :horizontal_form do |f| %>
    <%= f.input :name, label:'品名',label_html:{ class:'col-sm-3'}, input_html: {class:'col-sm-9'}, wrapper_html: {class:'row'} %>
    <%= f.input :en_name, label:'英文',label_html:{ class:'col-sm-3'}, input_html: {class:'col-sm-9'}, wrapper_html: {class:'row'} %>
    <%= f.input :texture, label:'材質',label_html:{ class:'col-sm-3'}, input_html: {class:'col-sm-9'}, wrapper_html: {class:'row'} %>
    <%= f.input :diameter, label:'管徑',label_html:{ class:'col-sm-3'}, input_html: {class:'col-sm-9'}, wrapper_html: {class:'row'} %>
    <%= f.input :size, label:'尺寸',label_html:{ class:'col-sm-3'}, input_html: {class:'col-sm-9'}, wrapper_html: {class:'row'} %>
    <%= f.input :surface, label:'表面',label_html:{ class:'col-sm-3'}, input_html: {class:'col-sm-9'}, wrapper_html: {class:'row'} %>
    <%= f.input :photos, :as => :file, label:'照片',label_html:{ class:'col-sm-3'}, input_html: {:multiple => true, class:'col-sm-9', :name => "images[]"}, wrapper_html: {class:'row'} %>
    <div class="col-sm-3 control-label">
      <%= f.button :submit, class:'btn-success' %>
    </div>
  <% end %>

</div>
